# LIMPIEZA DE DATOS
## En esta fase de trabajo, analizaremos el dataset que tenemos disponible y pretendemos limpiar sus datos lo máximo posible para ejercer una correcta manipulación sobre ellos.

### Primeramente realizamos la importacion de la libreria de pandas para crear el dataset segun el archivo csv que tenemos.

In [2]:
import pandas as pd

data_propiedades = pd.read_csv('../data/properties_merged.csv')

df_propiedades = pd.DataFrame(data_propiedades)

- Mostramos las primeras y ultimas filas del dataset

In [3]:
primeras_filas = df_propiedades.head()
ultimas_filas =  df_propiedades.tail()

display(primeras_filas)
display(ultimas_filas)

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
0,Santa Mónica,532000,4.0,37,Si,86.0,1,1,1,1,...,No,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO,CHAPINERO,Pardo Rubio,5.2,1050.0
1,Chicó Milano 101,0,6.0,7,Si,77.0,1,2,2,1,...,Si,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN,USAQUEN,NaN,8.5,850.0
2,Portal del Belmira,811893,4.0,14,Si,109.0,3,4,2,1,...,Si,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS,USAQUEN,Los Cedros,8.5,850.0
3,Carmel Reservado,400200,4.0,11,Si,76.0,3,2,1,2,...,Si,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO,SUBA,NaN,9.8,750.0
4,Toscana 1,270000,4.0,20,Si,105.0,4,2,1,0,...,Si,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN,USAQUEN,NaN,8.5,850.0

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
580,Quintas de la Sabana 2,155000,2.0,10,No,57.0,2,1,0,0,...,Si,190000000.0,Diagonal 77 # 123 a - 88,Quintas de la Sabana 2,"Casa en venta de 57m2, con vista exterior, (ca...",GARCES NAVAS,ENGATIVA,Garcés,11.3,790.0
581,Tekto San Marcos,0,4.0,6,No,51.0,1,2,1,1,...,Si,366000000.0,Carrera 18 # 40b-74,Tekto San Marcos,"Apartamento en venta de 51m2, con vista interi...",CIUDAD MONTES,PUENTE ARANDA,Ciudad Montes (UP,15.9,870.0
582,Edificio Riviera 2,55000,2.0,17,No,50.0,3,1,0,0,...,No,127000000.0,Carrera 81a#58g-24sur,Edificio Riviera 2,"Apartamento en venta de 50 m2, con vista inter...",BOSA CENTRAL,BOSA,NaN,21.5,880.0
583,El Almendro,816600,6.0,32,No,112.0,3,2,2,1,...,Si,500000000.0,Cra 13A # 102-16,El Almendro,"Apartamento en venta de 112m2, con vista exter...",USAQUEN,USAQUEN,NaN,8.5,850.0
584,Edificio Sheratton,510000,5.0,29,No,105.0,3,2,1,0,...,Si,456000000.0,Carrera 52 # 106-33,Edificio Sheratton,"Apartamento en venta de 105m2, con vista inter...",LA ALHAMBRA,SUBA,NaN,9.8,750.0

- Verificamos el numero de filas y columnas
##### Observamos que el dataset realmente no tiene un gran volumen de datos, sin embargo, posee bastantes variables a analizar.

In [4]:
tam = f"El numero de filas es : {df_propiedades.shape[0]} y el numero de columnas es : {df_propiedades.shape[1]}."
tam

'El numero de filas es : 585 y el numero de columnas es : 25.'

- Obtener información general del dataset (`.info()`).

##### Observamos que existen muy pocos valores nulos que trabajaremos mas adelante y, ademas, vemos que los tipos de datos se pueden manipular de forma diferente.

In [5]:
info = df_propiedades.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   conjunto              585 non-null    object
 1   administración        585 non-null    int64
 2   estrato               583 non-null    float64
 3   antiguedad            585 non-null    int64
 4   remodelado            582 non-null    object
 5   área                  585 non-null    float64
 6   habitaciones          585 non-null    int64
 7   baños                 585 non-null    int64
 8   garajes               585 non-null    int64
 9   elevadores            585 non-null    int64
 10  tipo_de_inmueble      585 non-null    object
 11  deposito              585 non-null    int64
 12  porteria              585 non-null    object
 13  zona_de_lavanderia    585 non-null    object
 14  gas                   555 non-null    object
 15  parqueadero           585 non-null    object
 16  precio                585 non-null    float64
 17  direccion             585 non-null    object
 18  nombre                585 non-null    object
 19  descripcion           585 non-null    object
 20  barrio_limpio         585 non-null    object
 21  Localidad             585 non-null    object
 22  UPZ                   271 non-null    object
 23  Tasa_Homicidios_100k  584 non-null    float64
 24  Tasa_Hurtos_100k      584 non-null    float64
dtypes: float64(5), int64(7), object(13)
memory usage: 114.4+ KB

- Podemos identificar ciertos valores nulos en nuestro dataset, asi que empezaremos a darles su respectivo tratamiento.
##### Procedemos a modificar la columna de gas y cambiar los nulos por 'No', ya que, asumiremos que las propiedades no cuentan con el servicio

In [6]:
df_propiedades['gas'] = df_propiedades['gas'].fillna('No')

##### Modificamos la columna de remodelado y cambiamos los nulos por 'No', asumimos que estas afecciones no fueron realizadas en la propiedad

In [7]:
df_propiedades['remodelado'] = df_propiedades['gas'].fillna('No')

##### Modificamos la columna de estratos y cambiamos los nulos por el estrato del barrio al que pertenece la propiedad, asi que primero filtramos por nulos y confirmamos los barrios.

In [8]:
df_propiedades[df_propiedades['estrato'].isna()]

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
140,Milentto,0,NaN,8,Si,65.0,3,2,1,1,...,Si,308428571.0,Carrera 103b # 152c-64,Milentto,"Apartamento en venta de 65m2, con vista interi...",SUBA,SUBA,NaN,9.8,750.0
179,Paseo de Sevilla,0,NaN,5,Si,89.0,3,2,1,1,...,Si,485000000.0,Carrera 87b # 6d-10,Paseo de Sevilla,"Apartamento en venta de 89m2, con vista exteri...",CALANDAIMA,KENNEDY,Calandaima,25.4,950.0

In [9]:
df_propiedades['estrato'] = df_propiedades['estrato'].fillna(2.0)

##### Confirmamos los nulos tanto para tasa de homicidio como de hurtos

In [10]:
homicidios_nulos = df_propiedades[df_propiedades['Tasa_Homicidios_100k'].isna()]
display(homicidios_nulos)

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
229,Reserva del Restrepo,268000,3.0,11,Si,54.0,3,2,0,0,...,Si,233000000.0,Calle 13sur # 24h - 54,Reserva del Restrepo,"Apartamento en venta de 54m2, con vista interi...",RESTREPO,ANTONIO NARINO,Restrepo (UP,NaN,NaN

In [11]:
Hurtos_nulos =df_propiedades[df_propiedades['Tasa_Hurtos_100k'].isna()]
display(Hurtos_nulos)

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
229,Reserva del Restrepo,268000,3.0,11,Si,54.0,3,2,0,0,...,Si,233000000.0,Calle 13sur # 24h - 54,Reserva del Restrepo,"Apartamento en venta de 54m2, con vista interi...",RESTREPO,ANTONIO NARINO,Restrepo (UP,NaN,NaN

##### Notamos que una propiedad de la localidad Antonio Nariño tiene  ambos valores nulos. Procedemos a ingresar los valores respectivamente:

In [12]:
# Reemplazar nulos en 'Tasa_Homicidios_100k' por 13.5
df_propiedades['Tasa_Homicidios_100k'].fillna(13.5, inplace=True)

# Reemplazar nulos en 'Tasa_Hurtos_100k' por 830
df_propiedades['Tasa_Hurtos_100k'].fillna(830, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_30360\3008333112.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_propiedades['Tasa_Homicidios_100k'].fillna(13.5, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_30360\3008333112.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_propiedades['Tasa_Hurtos_100k'].fillna(830, inplace=True)

##### Confirmamos todos que los valores nulos ya hayan sido reemplazados.

In [13]:
df_propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   conjunto              585 non-null    object
 1   administración        585 non-null    int64
 2   estrato               585 non-null    float64
 3   antiguedad            585 non-null    int64
 4   remodelado            585 non-null    object
 5   área                  585 non-null    float64
 6   habitaciones          585 non-null    int64
 7   baños                 585 non-null    int64
 8   garajes               585 non-null    int64
 9   elevadores            585 non-null    int64
 10  tipo_de_inmueble      585 non-null    object
 11  deposito              585 non-null    int64
 12  porteria              585 non-null    object
 13  zona_de_lavanderia    585 non-null    object
 14  gas                   585 non-null    object
 15  parqueadero           585 non-null    object
 16  precio                585 non-null    float64
 17  direccion             585 non-null    object
 18  nombre                585 non-null    object
 19  descripcion           585 non-null    object
 20  barrio_limpio         585 non-null    object
 21  Localidad             585 non-null    object
 22  UPZ                   271 non-null    object
 23  Tasa_Homicidios_100k  585 non-null    float64
 24  Tasa_Hurtos_100k      585 non-null    float64
dtypes: float64(5), int64(7), object(13)
memory usage: 114.4+ KB

In [14]:
df_propiedades

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
0,Santa Mónica,532000,4.0,37,Si,86.0,1,1,1,1,...,No,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO,CHAPINERO,Pardo Rubio,5.2,1050.0
1,Chicó Milano 101,0,6.0,7,Si,77.0,1,2,2,1,...,Si,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN,USAQUEN,NaN,8.5,850.0
2,Portal del Belmira,811893,4.0,14,Si,109.0,3,4,2,1,...,Si,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS,USAQUEN,Los Cedros,8.5,850.0
3,Carmel Reservado,400200,4.0,11,Si,76.0,3,2,1,2,...,Si,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO,SUBA,NaN,9.8,750.0
4,Toscana 1,270000,4.0,20,Si,105.0,4,2,1,0,...,Si,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN,USAQUEN,NaN,8.5,850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,Quintas de la Sabana 2,155000,2.0,10,Si,57.0,2,1,0,0,...,Si,190000000.0,Diagonal 77 # 123 a - 88,Quintas de la Sabana 2,"Casa en venta de 57m2, con vista exterior, (ca...",GARCES NAVAS,ENGATIVA,Garcés,11.3,790.0
581,Tekto San Marcos,0,4.0,6,Si,51.0,1,2,1,1,...,Si,366000000.0,Carrera 18 # 40b-74,Tekto San Marcos,"Apartamento en venta de 51m2, con vista interi...",CIUDAD MONTES,PUENTE ARANDA,Ciudad Montes (UP,15.9,870.0
582,Edificio Riviera 2,55000,2.0,17,Si,50.0,3,1,0,0,...,No,127000000.0,Carrera 81a#58g-24sur,Edificio Riviera 2,"Apartamento en venta de 50 m2, con vista inter...",BOSA CENTRAL,BOSA,NaN,21.5,880.0
583,El Almendro,816600,6.0,32,Si,112.0,3,2,2,1,...,Si,500000000.0,Cra 13A # 102-16,El Almendro,"Apartamento en venta de 112m2, con vista exter...",USAQUEN,USAQUEN,NaN,8.5,850.0
584,Edificio Sheratton,510000,5.0,29,Si,105.0,3,2,1,0,...,Si,456000000.0,Carrera 52 # 106-33,Edificio Sheratton,"Apartamento en venta de 105m2, con vista inter...",LA ALHAMBRA,SUBA,NaN,9.8,750.0

- Identificar los tipos de datos de cada columna (numérico, categórico, fecha, booleano, etc.).
- Verificar si hay columnas mal tipificadas.
##### Observamos que existen columnas con valores como "si" o "no", se pretende convertirlas a valores booleanos, ademas columnas como el estrato se convertiran a enteras

In [15]:
df_data_types = df_propiedades.dtypes
df_data_types

conjunto                 object
administración            int64
estrato                 float64
antiguedad                int64
remodelado               object
área                    float64
habitaciones              int64
baños                     int64
garajes                   int64
elevadores                int64
tipo_de_inmueble         object
deposito                  int64
porteria                 object
zona_de_lavanderia       object
gas                      object
parqueadero              object
precio                  float64
direccion                object
nombre                   object
descripcion              object
barrio_limpio            object
Localidad                object
UPZ                      object
Tasa_Homicidios_100k    float64
Tasa_Hurtos_100k        float64
dtype: object

##### Tipificamos las columnas de [remodelado, deposito, zona_de_lavanderia, gas, parqueadero] como booleanos con el fin de reemplazar el 1 por true y el 0 por false, ademas, modificamos el nombre, incluyendo un 'incluye_', con el fin de mejorar la legibilidad

In [16]:
def tipificarColumnas(df, columnas):
    df_modificado = df.copy()
    
    for columna in columnas:
        nueva_col = f'incluye_{columna}'
        df_modificado[nueva_col] = df_modificado[columna].map({
            1: True, 
            0: False,
            'No Tiene': False,
            'Comunal': True,
            'Si': True,
            'No': False
        }).astype(bool)
    
    df_modificado.drop(columns=columnas, inplace=True)
    
    return df_modificado

df_mod = tipificarColumnas(df_propiedades, ['remodelado', 'deposito', 'zona_de_lavanderia', 'gas', 'parqueadero'])

##### Confirmamos el cambio realizado.

In [17]:
df_propiedades.head()

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,parqueadero,precio,direccion,nombre,descripcion,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k
0,Santa Mónica,532000,4.0,37,Si,86.0,1,1,1,1,...,No,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO,CHAPINERO,Pardo Rubio,5.2,1050.0
1,Chicó Milano 101,0,6.0,7,Si,77.0,1,2,2,1,...,Si,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN,USAQUEN,NaN,8.5,850.0
2,Portal del Belmira,811893,4.0,14,Si,109.0,3,4,2,1,...,Si,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS,USAQUEN,Los Cedros,8.5,850.0
3,Carmel Reservado,400200,4.0,11,Si,76.0,3,2,1,2,...,Si,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO,SUBA,NaN,9.8,750.0
4,Toscana 1,270000,4.0,20,Si,105.0,4,2,1,0,...,Si,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN,USAQUEN,NaN,8.5,850.0

In [18]:
df_mod.head()

,conjunto,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,...,barrio_limpio,Localidad,UPZ,Tasa_Homicidios_100k,Tasa_Hurtos_100k,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero
0,Santa Mónica,532000,4.0,37,86.0,1,1,1,1,Apartamento,...,PARDO RUBIO,CHAPINERO,Pardo Rubio,5.2,1050.0,True,False,False,True,False
1,Chicó Milano 101,0,6.0,7,77.0,1,2,2,1,Apartamento,...,USAQUEN,USAQUEN,NaN,8.5,850.0,True,True,False,True,True
2,Portal del Belmira,811893,4.0,14,109.0,3,4,2,1,Apartamento,...,LOS CEDROS,USAQUEN,Los Cedros,8.5,850.0,True,False,False,True,True
3,Carmel Reservado,400200,4.0,11,76.0,3,2,1,2,Apartamento,...,EL PRADO,SUBA,NaN,9.8,750.0,True,False,False,True,True
4,Toscana 1,270000,4.0,20,105.0,4,2,1,0,Casa,...,TOBERIN,USAQUEN,NaN,8.5,850.0,True,True,False,True,True

##### Convertimos la columna [estrato] a entera, ya que no la necesitamos como tipo decimal.

In [19]:
def tipificarEstrato(df, columnas):
    for columna in columnas:
        df[columna] = df[columna].astype('int64')

tipificarEstrato(df_mod, ['estrato'])

In [20]:
df_mod.dtypes

conjunto                       object
administración                  int64
estrato                         int64
antiguedad                      int64
área                          float64
habitaciones                    int64
baños                           int64
garajes                         int64
elevadores                      int64
tipo_de_inmueble               object
porteria                       object
precio                        float64
direccion                      object
nombre                         object
descripcion                    object
barrio_limpio                  object
Localidad                      object
UPZ                            object
Tasa_Homicidios_100k          float64
Tasa_Hurtos_100k              float64
incluye_remodelado               bool
incluye_deposito                 bool
incluye_zona_de_lavanderia       bool
incluye_gas                      bool
incluye_parqueadero              bool
dtype: object

- Revisar si hay filas duplicadas y decidir qué hacer con ellas.
##### No se encontraron duplicados.

In [21]:
df_mod.duplicated().sum()

np.int64(0)

- Eliminacion de columnas innecesarias para el modelado.
##### Eliminaremos la columna de descripcion ya que es una variable que no utilizaremos para modelar.

In [22]:
df_mod.drop(columns=['descripcion'], inplace=True)

In [23]:
#### Eliminaremos la columna UPZ ya que es una variable que no utilizaremos para modelar.
df_mod.drop(columns=['UPZ'], inplace=True)

##### Eliminaremos la columna de conjunto y nombre, por la misma razon.

In [24]:
df_mod.drop(columns=['conjunto', 'nombre'], inplace=True)

#### Eliminaremos el barrio y la dirección para evitar un sesgo

In [25]:
df_mod.drop(columns=['barrio_limpio'], inplace=True)

In [26]:
df_mod.drop(columns=['direccion'], inplace=True)

#### Confirmamos los cambios

In [27]:
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   administración              585 non-null    int64
 1   estrato                     585 non-null    int64
 2   antiguedad                  585 non-null    int64
 3   área                        585 non-null    float64
 4   habitaciones                585 non-null    int64
 5   baños                       585 non-null    int64
 6   garajes                     585 non-null    int64
 7   elevadores                  585 non-null    int64
 8   tipo_de_inmueble            585 non-null    object
 9   porteria                    585 non-null    object
 10  precio                      585 non-null    float64
 11  Localidad                   585 non-null    object
 12  Tasa_Homicidios_100k        585 non-null    float64
 13  Tasa_Hurtos_100k            585 non-null    float64
 14  incluye_remodelado          585 non-null    bool
 15  incluye_deposito            585 non-null    bool
 16  incluye_zona_de_lavanderia  585 non-null    bool
 17  incluye_gas                 585 non-null    bool
 18  incluye_parqueadero         585 non-null    bool
dtypes: bool(5), float64(4), int64(7), object(3)
memory usage: 67.0+ KB

#### Procedemos aguardar el EDA en un nuevo CSV para utilizarlo en otros notebooks y continuar con la estandarización

In [28]:
df_mod.to_csv("../data/properties_EDA_final.csv", index=False)