# LIMPIEZA DE DATOS
## En esta fase de trabajo, analizaremos el dataset que tenemos disponible y pretendemos limpiar sus datos lo máximo posible para ejercer una correcta manipulación sobre ellos.

### Primeramente realizamos la importacion de la libreria de pandas para crear el dataset segun el archivo csv que tenemos.

In [47]:
import pandas as pd

data_propiedades = pd.read_csv('../data/properties.csv')

df_propiedades = pd.DataFrame(data_propiedades)

- Mostramos las primeras y ultimas filas del dataset

In [48]:
primeras_filas = df_propiedades.head()
ultimas_filas =  df_propiedades.tail()

display(primeras_filas)
display(ultimas_filas)

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,deposito,porteria,zona_de_lavanderia,gas,parqueadero,precio,direccion,nombre,descripcion,barrio
0,Santa Mónica,532000,4.0,37,Si,86.0,1,1,1,1,...,0,24 hrs,No Tiene,Si,No,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO
1,Chicó Milano 101,0,6.0,7,Si,77.0,1,2,2,1,...,1,24 hrs,No Tiene,Si,Si,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN
2,Portal del Belmira,811893,4.0,14,Si,109.0,3,4,2,1,...,0,24 hrs,No Tiene,Si,Si,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS
3,Carmel Reservado,400200,4.0,11,Si,76.0,3,2,1,2,...,0,24 hrs,No Tiene,Si,Si,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO
4,Toscana 1,270000,4.0,20,Si,105.0,4,2,1,0,...,1,24 hrs,No Tiene,Si,Si,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,deposito,porteria,zona_de_lavanderia,gas,parqueadero,precio,direccion,nombre,descripcion,barrio
580,Quintas de la Sabana 2,155000,2.0,10,No,57.0,2,1,0,0,...,0,24 hrs,No Tiene,Si,Si,190000000.0,Diagonal 77 # 123 a - 88,Quintas de la Sabana 2,"Casa en venta de 57m2, con vista exterior, (ca...",GARCES NAVAS
581,Tekto San Marcos,0,4.0,6,No,51.0,1,2,1,1,...,0,24 hrs,Comunal,Si,Si,366000000.0,Carrera 18 # 40b-74,Tekto San Marcos,"Apartamento en venta de 51m2, con vista interi...",CIUDAD MONTES
582,Edificio Riviera 2,55000,2.0,17,No,50.0,3,1,0,0,...,0,No,No Tiene,Si,No,127000000.0,Carrera 81a#58g-24sur,Edificio Riviera 2,"Apartamento en venta de 50 m2, con vista inter...",BOSA CENTRAL
583,El Almendro,816600,6.0,32,No,112.0,3,2,2,1,...,1,24 hrs,No Tiene,Si,Si,500000000.0,Cra 13A # 102-16,El Almendro,"Apartamento en venta de 112m2, con vista exter...",USAQUEN
584,Edificio Sheratton,510000,5.0,29,No,105.0,3,2,1,0,...,1,24 hrs,No Tiene,Si,Si,456000000.0,Carrera 52 # 106-33,Edificio Sheratton,"Apartamento en venta de 105m2, con vista inter...",LA ALHAMBRA

- Verificamos el numero de filas y columnas
##### Observamos que el dataset realmente no tiene un gran volumen de datos, sin embargo, posee bastantes variables a analizar.

In [49]:
tam = f"El numero de filas es : {df_propiedades.shape[0]} y el numero de columnas es : {df_propiedades.shape[1]}."
tam

'El numero de filas es : 585 y el numero de columnas es : 21.'

- Obtener información general del dataset (`.info()`).

##### Observamos que existen muy pocos valores nulos que trabajaremos mas adelante y, ademas, vemos que los tipos de datos se pueden manipular de forma diferente.

In [50]:
info = df_propiedades.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   conjunto            585 non-null    object
 1   administración      585 non-null    int64
 2   estrato             583 non-null    float64
 3   antiguedad          585 non-null    int64
 4   remodelado          582 non-null    object
 5   área                585 non-null    float64
 6   habitaciones        585 non-null    int64
 7   baños               585 non-null    int64
 8   garajes             585 non-null    int64
 9   elevadores          585 non-null    int64
 10  tipo_de_inmueble    585 non-null    object
 11  deposito            585 non-null    int64
 12  porteria            585 non-null    object
 13  zona_de_lavanderia  585 non-null    object
 14  gas                 555 non-null    object
 15  parqueadero         585 non-null    object
 16  precio              585 non-null    float64
 17  direccion           585 non-null    object
 18  nombre              585 non-null    object
 19  descripcion         585 non-null    object
 20  barrio              585 non-null    object
dtypes: float64(3), int64(7), object(11)
memory usage: 96.1+ KB

- Podemos identificar ciertos valores nulos en nuestro dataset, asi que empezaremos a darles su respectivo tratamiento.
##### Procedemos a modificar la columna de gas y cambiar los nulos por 'No', ya que, asumiremos que las propiedades no cuentan con el servicio

In [51]:
df_propiedades['gas'] = df_propiedades['gas'].fillna('No')

##### Modificamos la columna de remodelado y cambiamos los nulos por 'No', asumimos que estas afecciones no fueron realizadas en la propiedad

In [52]:
df_propiedades['remodelado'] = df_propiedades['gas'].fillna('No')

##### Modificamos la columna de estratos y cambiamos los nulos por el estrato del barrio al que pertenece la propiedad, asi que primero filtramos por nulos y confirmamos los barrios.

In [53]:
df_propiedades[df_propiedades['estrato'].isna()]

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,deposito,porteria,zona_de_lavanderia,gas,parqueadero,precio,direccion,nombre,descripcion,barrio
140,Milentto,0,NaN,8,Si,65.0,3,2,1,1,...,1,24 hrs,No Tiene,Si,Si,308428571.0,Carrera 103b # 152c-64,Milentto,"Apartamento en venta de 65m2, con vista interi...",SUBA
179,Paseo de Sevilla,0,NaN,5,Si,89.0,3,2,1,1,...,0,24 hrs,No Tiene,Si,Si,485000000.0,Carrera 87b # 6d-10,Paseo de Sevilla,"Apartamento en venta de 89m2, con vista exteri...",CALANDAIMA

In [54]:
df_propiedades['estrato'] = df_propiedades['estrato'].fillna(2.0)

##### Confirmamos todos que los valores nulos ya hayan sido reemplazados.

In [55]:
df_propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   conjunto            585 non-null    object
 1   administración      585 non-null    int64
 2   estrato             585 non-null    float64
 3   antiguedad          585 non-null    int64
 4   remodelado          585 non-null    object
 5   área                585 non-null    float64
 6   habitaciones        585 non-null    int64
 7   baños               585 non-null    int64
 8   garajes             585 non-null    int64
 9   elevadores          585 non-null    int64
 10  tipo_de_inmueble    585 non-null    object
 11  deposito            585 non-null    int64
 12  porteria            585 non-null    object
 13  zona_de_lavanderia  585 non-null    object
 14  gas                 585 non-null    object
 15  parqueadero         585 non-null    object
 16  precio              585 non-null    float64
 17  direccion           585 non-null    object
 18  nombre              585 non-null    object
 19  descripcion         585 non-null    object
 20  barrio              585 non-null    object
dtypes: float64(3), int64(7), object(11)
memory usage: 96.1+ KB

- Identificar los tipos de datos de cada columna (numérico, categórico, fecha, booleano, etc.).
- Verificar si hay columnas mal tipificadas.
##### Observamos que existen columnas con valores como "si" o "no", se pretende convertirlas a valores booleanos, ademas columnas como el estrato se convertiran a enteras

In [56]:
df_data_types = df_propiedades.dtypes
df_data_types

conjunto               object
administración          int64
estrato               float64
antiguedad              int64
remodelado             object
área                  float64
habitaciones            int64
baños                   int64
garajes                 int64
elevadores              int64
tipo_de_inmueble       object
deposito                int64
porteria               object
zona_de_lavanderia     object
gas                    object
parqueadero            object
precio                float64
direccion              object
nombre                 object
descripcion            object
barrio                 object
dtype: object

##### Tipificamos las columnas de [remodelado, deposito, zona_de_lavanderia, gas, parqueadero] como booleanos con el fin de reemplazar el 1 por true y el 0 por false, ademas, modificamos el nombre, incluyendo un 'incluye_', con el fin de mejorar la legibilidad

In [57]:
def tipificarColumnas(df, columnas):
    df_modificado = df.copy()
    
    for columna in columnas:
        nueva_col = f'incluye_{columna}'
        df_modificado[nueva_col] = df_modificado[columna].map({
            1: True, 
            0: False,
            'No Tiene': False,
            'Comunal': True,
            'Si': True,
            'No': False
        }).astype(bool)
    
    df_modificado.drop(columns=columnas, inplace=True)
    
    return df_modificado

df_mod = tipificarColumnas(df_propiedades, ['remodelado', 'deposito', 'zona_de_lavanderia', 'gas', 'parqueadero'])

##### Confirmamos el cambio realizado.

In [58]:
df_propiedades.head()

,conjunto,administración,estrato,antiguedad,remodelado,área,habitaciones,baños,garajes,elevadores,...,deposito,porteria,zona_de_lavanderia,gas,parqueadero,precio,direccion,nombre,descripcion,barrio
0,Santa Mónica,532000,4.0,37,Si,86.0,1,1,1,1,...,0,24 hrs,No Tiene,Si,No,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO
1,Chicó Milano 101,0,6.0,7,Si,77.0,1,2,2,1,...,1,24 hrs,No Tiene,Si,Si,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN
2,Portal del Belmira,811893,4.0,14,Si,109.0,3,4,2,1,...,0,24 hrs,No Tiene,Si,Si,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS
3,Carmel Reservado,400200,4.0,11,Si,76.0,3,2,1,2,...,0,24 hrs,No Tiene,Si,Si,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO
4,Toscana 1,270000,4.0,20,Si,105.0,4,2,1,0,...,1,24 hrs,No Tiene,Si,Si,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN

In [59]:
df_mod.head()

,conjunto,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,...,precio,direccion,nombre,descripcion,barrio,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero
0,Santa Mónica,532000,4.0,37,86.0,1,1,1,1,Apartamento,...,313900000.0,Avenida Carrera 3 # 59-65,Santa Mónica,"Apartamento en venta de 86 m2, con vista exter...",PARDO RUBIO,True,False,False,True,False
1,Chicó Milano 101,0,6.0,7,77.0,1,2,2,1,Apartamento,...,440100000.0,Carrera 12 #101A-18,Chicó Milano 101,"Apartamento en venta de 77m2, con vista interi...",USAQUEN,True,True,False,True,True
2,Portal del Belmira,811893,4.0,14,109.0,3,4,2,1,Apartamento,...,495000000.0,Calle 146 #7F-54,Portal del Belmira,"Apartamento en venta de 109 m2, con vista Inte...",LOS CEDROS,True,False,False,True,True
3,Carmel Reservado,400200,4.0,11,76.0,3,2,1,2,Apartamento,...,442300000.0,KR 54 152A 35,Carmel Reservado,"Apartamento en venta de 76m2, con vista exteri...",EL PRADO,True,False,False,True,True
4,Toscana 1,270000,4.0,20,105.0,4,2,1,0,Casa,...,387000000.0,CL 168 14 55,Toscana 1,"Casa en venta de 105m2, con vista exterior, ub...",TOBERIN,True,True,False,True,True

##### Convertimos la columna [estrato] a entera, ya que no la necesitamos como tipo decimal.

In [70]:
def tipificarEstrato(df, columnas):
    for columna in columnas:
        df[columna] = df[columna].astype('int64')

tipificarEstrato(df_mod, ['estrato'])

In [71]:
df_mod.dtypes

administración                  int64
estrato                         int64
antiguedad                      int64
área                          float64
habitaciones                    int64
baños                           int64
garajes                         int64
elevadores                      int64
tipo_de_inmueble               object
porteria                       object
precio                        float64
direccion                      object
barrio                         object
incluye_remodelado               bool
incluye_deposito                 bool
incluye_zona_de_lavanderia       bool
incluye_gas                      bool
incluye_parqueadero              bool
dtype: object

- Revisar si hay filas duplicadas y decidir qué hacer con ellas.
##### No se encontraron duplicados.

In [62]:
df_mod.duplicated().sum()

np.int64(0)

- Eliminacion de columnas innecesarias para el modelado.
##### Eliminaremos la columna de descripcion, ya que es una variable que no utilizarme para modelar.

In [63]:
df_mod.drop(columns=['descripcion'], inplace=True)

##### Eliminaremos la columna de conjunto y nombre, por la misma razon.

In [64]:
df_mod.drop(columns=['conjunto', 'nombre'], inplace=True)

In [65]:
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   administración              585 non-null    int64
 1   estrato                     585 non-null    int64
 2   antiguedad                  585 non-null    int64
 3   área                        585 non-null    float64
 4   habitaciones                585 non-null    int64
 5   baños                       585 non-null    int64
 6   garajes                     585 non-null    int64
 7   elevadores                  585 non-null    int64
 8   tipo_de_inmueble            585 non-null    object
 9   porteria                    585 non-null    object
 10  precio                      585 non-null    float64
 11  direccion                   585 non-null    object
 12  barrio                      585 non-null    object
 13  incluye_remodelado          585 non-null    bool
 14  incluye_deposito            585 non-null    bool
 15  incluye_zona_de_lavanderia  585 non-null    bool
 16  incluye_gas                 585 non-null    bool
 17  incluye_parqueadero         585 non-null    bool
dtypes: bool(5), float64(2), int64(7), object(4)
memory usage: 62.4+ KB

In [66]:
df_mod.head()

,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,porteria,precio,direccion,barrio,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero
0,532000,4,37,86.0,1,1,1,1,Apartamento,24 hrs,313900000.0,Avenida Carrera 3 # 59-65,PARDO RUBIO,True,False,False,True,False
1,0,6,7,77.0,1,2,2,1,Apartamento,24 hrs,440100000.0,Carrera 12 #101A-18,USAQUEN,True,True,False,True,True
2,811893,4,14,109.0,3,4,2,1,Apartamento,24 hrs,495000000.0,Calle 146 #7F-54,LOS CEDROS,True,False,False,True,True
3,400200,4,11,76.0,3,2,1,2,Apartamento,24 hrs,442300000.0,KR 54 152A 35,EL PRADO,True,False,False,True,True
4,270000,4,20,105.0,4,2,1,0,Casa,24 hrs,387000000.0,CL 168 14 55,TOBERIN,True,True,False,True,True

- Merge de los datasets
##### Primero corremos el comando de %run EDA_barrios_localidades.ipynb, lo que va a hacer es que nos va a ejecutar todo el codigo que teniamos en el notebook de barrios, pero dentro del notebook de properties.

In [158]:
%run EDA_barrios_localidades.ipynb

  Localidad                             UPZ                     Barrio
0   Usaquén  Paseo de los Libertadores (01)                    Canaima
1   Usaquén  Paseo de los Libertadores (01)   La Floresta de La Sabana
2   Usaquén  Paseo de los Libertadores (01)                      Torca
3   Usaquén                   Verbenal (09)        Altos de Serrezuela
4   Usaquén                   Verbenal (09)  Balcones de Vista Hermosa

           Localidad                 UPZ             Barrio
1998  Ciudad Bolívar  Jerusalén (UPZ 70)            Paraíso
1999  Ciudad Bolívar  Jerusalén (UPZ 70)             Potosí
2000  Ciudad Bolívar  Jerusalén (UPZ 70)      Tanque Laguna
2001  Ciudad Bolívar  Jerusalén (UPZ 70)             Verona
2002  Ciudad Bolívar  Jerusalén (UPZ 70)  Villas de Bolívar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Localidad  2003 non-null   object
 1   UPZ        2003 non-null   object
 2   Barrio     2003 non-null   object
dtypes: object(3)
memory usage: 47.1+ KB

##### Utilizamos la libreria de unicodedata con el fin de eliminar tildes de nuestros csv.

In [159]:
import unicodedata

def quitar_tildes(texto):
    if isinstance(texto, str):
        return ''.join(
            c for c in unicodedata.normalize('NFD', texto)
            if unicodedata.category(c) != 'Mn'
        )
    return texto

df_sin_tildes_properties = df_mod.applymap(quitar_tildes)
df_sin_tildes_barrios = df_sin_duplicados.applymap(quitar_tildes)

C:\Users\USER\AppData\Local\Temp\ipykernel_45492\4160722228.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_sin_tildes_properties = df_mod.applymap(quitar_tildes)
C:\Users\USER\AppData\Local\Temp\ipykernel_45492\4160722228.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_sin_tildes_barrios = df_sin_duplicados.applymap(quitar_tildes)

##### Procedemos a normalizar los nombres de las columnas de ambos datasets.

In [160]:
df_sin_tildes_properties.rename(columns={
    'barrio':'Barrio'
}, inplace=True)

df_sin_tildes_properties.head()

,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,porteria,precio,direccion,Barrio,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero
0,532000,4,37,86.0,1,1,1,1,Apartamento,24 hrs,313900000.0,Avenida Carrera 3 # 59-65,PARDO_RUBIO,True,False,False,True,False
1,0,6,7,77.0,1,2,2,1,Apartamento,24 hrs,440100000.0,Carrera 12 #101A-18,USAQUEN,True,True,False,True,True
2,811893,4,14,109.0,3,4,2,1,Apartamento,24 hrs,495000000.0,Calle 146 #7F-54,LOS_CEDROS,True,False,False,True,True
3,400200,4,11,76.0,3,2,1,2,Apartamento,24 hrs,442300000.0,KR 54 152A 35,EL_PRADO,True,False,False,True,True
4,270000,4,20,105.0,4,2,1,0,Casa,24 hrs,387000000.0,CL 168 14 55,TOBERIN,True,True,False,True,True

##### Contuniamos normalizando los datos de la columna de Barrio para el dataset de barrios

In [161]:
cols = ['Barrio', 'Localidad']
df_sin_tildes_barrios[cols] = df_sin_tildes_barrios[cols].apply(lambda x: x.str.upper().str.replace(' ', '_'))
df_sin_tildes_barrios.head()

  Localidad                             UPZ                     Barrio
0   USAQUEN  Paseo de los Libertadores (01)                    CANAIMA
1   USAQUEN  Paseo de los Libertadores (01)   LA_FLORESTA_DE_LA_SABANA
2   USAQUEN  Paseo de los Libertadores (01)                      TORCA
3   USAQUEN                   Verbenal (09)        ALTOS_DE_SERREZUELA
4   USAQUEN                   Verbenal (09)  BALCONES_DE_VISTA_HERMOSA

##### Ahora procedemos a realizar el merge primeramente con la columna de barrio, si quedan valores nulos, haremos un segundo merge con localidad.

In [162]:
df_merged_barrios = df_sin_tildes_properties.merge(
    df_sin_tildes_barrios,
    on = 'Barrio',
    how = 'left'
)

df_merged_barrios.drop(columns=['UPZ'], inplace=True)

In [165]:
df_sin_tildes_barrios['UPZ'] = df_sin_tildes_barrios['UPZ'].str[:-2]
df_sin_tildes_barrios

           Localidad                        UPZ                     Barrio
0            USAQUEN  Paseo de los Libertadores                    CANAIMA
1            USAQUEN  Paseo de los Libertadores   LA_FLORESTA_DE_LA_SABANA
2            USAQUEN  Paseo de los Libertadores                      TORCA
3            USAQUEN                   Verbenal        ALTOS_DE_SERREZUELA
4            USAQUEN                   Verbenal  BALCONES_DE_VISTA_HERMOSA
...              ...                        ...                        ...
1998  CIUDAD_BOLIVAR              Jerusalen (UP                    PARAISO
1999  CIUDAD_BOLIVAR              Jerusalen (UP                     POTOSI
2000  CIUDAD_BOLIVAR              Jerusalen (UP              TANQUE_LAGUNA
2001  CIUDAD_BOLIVAR              Jerusalen (UP                     VERONA
2002  CIUDAD_BOLIVAR              Jerusalen (UP          VILLAS_DE_BOLIVAR

[1992 rows x 3 columns]

In [171]:
df_merged_barrios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693 entries, 0 to 692
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   administración              693 non-null    int64
 1   estrato                     693 non-null    int64
 2   antiguedad                  693 non-null    int64
 3   área                        693 non-null    float64
 4   habitaciones                693 non-null    int64
 5   baños                       693 non-null    int64
 6   garajes                     693 non-null    int64
 7   elevadores                  693 non-null    int64
 8   tipo_de_inmueble            693 non-null    object
 9   porteria                    693 non-null    object
 10  precio                      693 non-null    float64
 11  direccion                   693 non-null    object
 12  Barrio                      693 non-null    object
 13  incluye_remodelado          693 non-null    bool
 14  incluye_deposito            693 non-null    bool
 15  incluye_zona_de_lavanderia  693 non-null    bool
 16  incluye_gas                 693 non-null    bool
 17  incluye_parqueadero         693 non-null    bool
 18  Localidad                   389 non-null    object
dtypes: bool(5), float64(2), int64(7), object(5)
memory usage: 79.3+ KB

In [196]:
nulos_merge_barrios = df_merged_barrios['Localidad'].isna()
nulos_merge_barrios

0      False
1       True
2      False
3       True
4       True
       ...
688    False
689    False
690     True
691     True
692     True
Name: Localidad, Length: 693, dtype: bool

,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,porteria,precio,direccion,Barrio,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero,Localidad,UPZ
0,0,6,7,77.0,1,2,2,1,Apartamento,24 hrs,440100000.0,Carrera 12 #101A-18,USAQUEN,True,True,False,True,True,NaN,NaN
1,400200,4,11,76.0,3,2,1,2,Apartamento,24 hrs,442300000.0,KR 54 152A 35,EL_PRADO,True,False,False,True,True,NaN,NaN
2,270000,4,20,105.0,4,2,1,0,Casa,24 hrs,387000000.0,CL 168 14 55,TOBERIN,True,True,False,True,True,NaN,NaN
3,130000,3,9,59.0,3,2,1,1,Apartamento,24 hrs,256800000.0,Calle 6b # 81b-51,CASTILLA,True,False,False,True,True,NaN,NaN
4,270000,4,3,67.0,3,2,1,2,Apartamento,24 hrs,462100000.0,Calle 24 # 85c-67,CAPELLANIA,True,False,False,True,True,NaN,NaN

In [194]:
df_merged_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   administración              304 non-null    int64
 1   estrato                     304 non-null    int64
 2   antiguedad                  304 non-null    int64
 3   área                        304 non-null    float64
 4   habitaciones                304 non-null    int64
 5   baños                       304 non-null    int64
 6   garajes                     304 non-null    int64
 7   elevadores                  304 non-null    int64
 8   tipo_de_inmueble            304 non-null    object
 9   porteria                    304 non-null    object
 10  precio                      304 non-null    float64
 11  direccion                   304 non-null    object
 12  Barrio                      304 non-null    object
 13  incluye_remodelado          304 non-null    bool
 14  incluye_deposito            304 non-null    bool
 15  incluye_zona_de_lavanderia  304 non-null    bool
 16  incluye_gas                 304 non-null    bool
 17  incluye_parqueadero         304 non-null    bool
 18  Localidad                   0 non-null      object
 19  UPZ                         0 non-null      object
dtypes: bool(5), float64(2), int64(7), object(6)
memory usage: 37.2+ KB

In [173]:
df_merged_localidad.drop(columns='UPZ', inplace=True)

In [174]:
df_merged_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   administración              701 non-null    int64
 1   estrato                     701 non-null    int64
 2   antiguedad                  701 non-null    int64
 3   área                        701 non-null    float64
 4   habitaciones                701 non-null    int64
 5   baños                       701 non-null    int64
 6   garajes                     701 non-null    int64
 7   elevadores                  701 non-null    int64
 8   tipo_de_inmueble            701 non-null    object
 9   porteria                    701 non-null    object
 10  precio                      701 non-null    float64
 11  direccion                   701 non-null    object
 12  Barrio                      701 non-null    object
 13  incluye_remodelado          701 non-null    bool
 14  incluye_deposito            701 non-null    bool
 15  incluye_zona_de_lavanderia  701 non-null    bool
 16  incluye_gas                 701 non-null    bool
 17  incluye_parqueadero         701 non-null    bool
 18  Localidad                   397 non-null    object
dtypes: bool(5), float64(2), int64(7), object(5)
memory usage: 80.2+ KB

In [185]:
df_nulos = df_merged_localidad.groupby('Barrio')['Localidad'].apply(lambda x: x.isna().sum())
df_nulos

Barrio
ALAMOS           0
AMERICAS         7
APOGEO           4
ARBORIZADORA     4
BAVARIA          0
                ..
TINTAL_SUR      22
TOBERIN          7
USAQUEN         14
VERBENAL         9
ZONA_FRANCA      0
Name: Localidad, Length: 70, dtype: int64

In [182]:
df_merged_localidad[df_merged_localidad['Localidad'].isin(['USAQUEN'])]

,administración,estrato,antiguedad,área,habitaciones,baños,garajes,elevadores,tipo_de_inmueble,porteria,precio,direccion,Barrio,incluye_remodelado,incluye_deposito,incluye_zona_de_lavanderia,incluye_gas,incluye_parqueadero,Localidad
2,811893,4,14,109.0,3,4,2,1,Apartamento,24 hrs,495000000.0,Calle 146 #7F-54,LOS_CEDROS,True,False,False,True,True,USAQUEN
16,453000,5,8,54.0,1,2,1,1,Apartamento,24 hrs,384200000.0,Carrera 23#134A-09,LOS_CEDROS,True,True,False,True,True,USAQUEN
17,282000,4,33,90.0,3,3,1,1,Apartamento,24 hrs,389300000.0,Carrera 8a #151-83,LOS_CEDROS,True,True,False,True,True,USAQUEN
19,660000,5,14,79.0,3,2,2,1,Apartamento,24 hrs,452000000.0,Carrera 10a # 134b - 55,LOS_CEDROS,True,True,False,True,True,USAQUEN
20,113000,2,5,38.0,2,1,0,0,Apartamento,24 hrs,200000000.0,Calle 172a # 8-20,LA_URIBE,True,False,False,True,True,USAQUEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,405700,4,8,105.0,3,2,1,3,Apartamento,24 hrs,535000000.0,Carrera 8 #167d-62,LA_URIBE,True,True,False,True,True,USAQUEN
639,457000,6,35,88.0,4,2,2,1,Apartamento,24 hrs,500000000.0,Calle 120 # 11b-11,SANTA_BARBARA,True,True,False,True,True,USAQUEN
641,653000,6,39,70.0,3,2,1,0,Apartamento,24 hrs,337000000.0,Carrera 14b # 118 - 72,SANTA_BARBARA,True,False,False,True,True,USAQUEN
656,292000,6,38,68.0,2,2,1,0,Apartamento,24 hrs,380000000.0,Carrera 13 # 106-70,SANTA_BARBARA,False,True,False,False,True,USAQUEN
680,58700,2,7,57.0,3,1,0,0,Apartamento,24 hrs,160140000.0,Calle 45a # 88c-98 Sur,LAS_MARGARITAS,True,False,False,True,True,USAQUEN